.product-card {
  border: 1px solid #e0e0e0; /* Adjust border color and size */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  padding: 16px; /* Add some padding around the card */
  margin-bottom: 20px; /* Add margin between cards */
}

.product-card img {
  max-width: 100%; /* Ensure the image fits within the card */
  border-radius: 8px; /* Apply rounded corners to the image */
  margin-bottom: 12px; /* Add spacing between image and text */
}

.product-card .card-subtitle {
  font-weight: bold; /* Make subtitles bold */
  margin-top: 10px; /* Add spacing above subtitles */
}

.product-card .btn-primary {
  background-color: #007bff; /* Adjust button color */
  border: none; /* Remove button border */
}